# Build outputs
bin/
build/

# Object files / executables
*.o
*.out
*.exe

# macOS
.DS_Store

# VS Code temp files
tempCodeRunnerFile

# VS Code workspace files
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Keep bin directory
!bin/.gitkeep
